In [1]:
import numpy as np
import pandas as pd

In [2]:
header = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc','rc', 'htn', 'dm', 'cad', 'appet','pe','ane', 'class']

In [58]:
df = pd.read_csv('./Data/chronic_kidney_disease_full.arff', header=None, names = header)
df = df.dropna(axis=0, how='any') # if any of the row is na, remove

In [59]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
143,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
144,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
145,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
146,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
147,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [60]:
df.shape

(399, 25)

All the raw data has been read in

In [61]:
for col in header:
    print(df[col].unique())

['48' '7' '62' '51' '60' '68' '24' '52' '53' '50' '63' '40' '47' '61' '21'
 '42' '75' '69' '?' '73' '70' '65' '76' '72' '82' '46' '45' '35' '54' '11'
 '59' '67' '15' '55' '44' '26' '64' '56' '5' '74' '38' '58' '71' '34' '17'
 '12' '43' '41' '57' '8' '39' '66' '81' '14' '27' '83' '30' '4' '3' '6'
 '32' '80' '49' '90' '78' '19' '2' '33' '36' '37' '23' '25' '20' '29' '28'
 '22' '79']
['80' '50' '70' '90' '?' '100' '60' '110' '140' '180' '120']
['1.020' '1.010' '1.005' '1.015' '?' '1.025']
['1' '4' '2' '3' '0' '?' '5']
['0' '3' '4' '1' '?' '2' '5']
['?' 'normal' 'abnormal']
['normal' 'abnormal' '?']
['notpresent' 'present' '?']
['notpresent' 'present' '?']
['121' '?' '423' '117' '106' '74' '100' '410' '138' '70' '490' '380' '208'
 '98' '157' '76' '99' '114' '263' '173' '95' '108' '156' '264' '123' '93'
 '107' '159' '140' '171' '270' '92' '137' '204' '79' '207' '124' '144'
 '91' '162' '246' '253' '141' '182' '86' '150' '146' '425' '112' '250'
 '360' '163' '129' '133' '102' '158' '165' '132' '104' '127' '415' '169'
 '251' '109' '280' '210' '219' '295' '94' '172' '101' '298' '153' '88'
 '226' '143' '115' '89' '297' '233' '294' '323' '125' '90' '308' '118'
 '224' '128' '122' '214' '213' '268' '256' '84' '105' '288' '139' '78'
 '273' '242' '424' '303' '148' '160' '192' '307' '220' '447' '309' '22'
 '111' '261' '215' '234' '131' '352' '80' '239' '110' '130' '184' '252'
 '113' '230' '341' '255' '103' '238' '248' '120' '241' '269' '201' '203'
 '463' '176' '82' '119' '97' '96' '81' '116' '134' '85' '83' '87' '75']
['36' '18' '53' '56' '26' '25' '54' '31' '60' '107' '55' '72' '86' '90'
 '162' '46' '87' '27' '148' '180' '163' '?' '50' '75' '45' '28' '155' '33'
 '39' '153' '29' '65' '103' '70' '80' '20' '202' '77' '89' '24' '17' '32'
 '114' '66' '38' '164' '142' '96' '391' '15' '111' '73' '19' '92' '35'
 '16' '139' '48' '85' '98' '186' '37' '47' '52' '82' '51' '106' '22' '217'
 '88' '118' '50.1' '71' '34' '40' '21' '219' '30' '125' '166' '49' '208'
 '176' '68' '145' '165' '322' '23' '235' '132' '76' '42' '44' '41' '113'
 '1.5' '146' '58' '133' '137' '67' '115' '223' '98.6' '158' '94' '74'
 '150' '61' '57' '95' '191' '93' '241' '64' '79' '215' '309' '10']
['1.2' '0.8' '1.8' '3.8' '1.4' '1.1' '24.0' '1.9' '7.2' '4.0' '2.7' '2.1'
 '4.6' '4.1' '9.6' '2.2' '5.2' '1.3' '1.6' '3.9' '76' '7.7' '?' '2.4'
 '7.3' '1.5' '2.5' '2.0' '3.4' '0.7' '1.0' '10.8' '6.3' '5.9' '0.9' '3.0'
 '3.25' '9.7' '6.4' '3.2' '32.0' '0.6' '6.1' '3.3' '6.7' '8.5' '2.8' '15'
 '2.9' '1.7' '3.6' '5.6' '6.5' '4.4' '10.2' '11.5' '0.5' '12.2' '5.3'
 '9.2' '13.8' '16.9' '6.0' '7.1' '18.0' '2.3' '13.0' '48.1' '14.2' '16.4'
 '2' '2.6' '7.5' '4.3' '18.1' '11.8' '9.3' '6.8' '13.5' '12.8' '11.9'
 '12.0' '13.4' '15.2' '13.3' '1' '0.4']
['?' '111' '142' '104' '114' '131' '138' '135' '130' '141' '139' '4.5'
 '136' '129' '140' '132' '133' '134' '125' '163' '137' '128' '143' '127'
 '146' '126' '122' '147' '124' '115' '145' '113' '120' '150' '144']
['?' '2.5' '3.2' '4.0' '3.7' '4.2' '5.8' '3.4' '6.4' '4.9' '4.1' '4.3'
 '5.2' '3.8' '4.6' '3.9' '4.7' '5.9' '4.8' '4.4' '6.6' '39.0' '5.5' '5.0'
 '3.5' '3.6' '7.6' '2.9' '4.5' '5.7' '5.4' '5.3' '47' '6.3' '5.1' '5.6'
 '4' '3.0' '2.8' '2.7' '6.5' '3.3' '5']
['15.4' '11.3' '9.6' '11.2' '11.6' '12.2' '12.4' '10.8' '9.5' '9.4' '9.7'
 '9.8' '5.6' '7.6' '12.6' '12.1' '12.7' '10.3' '7.7' '10.9' '?' '11.1'
 '9.9' '12.5' '12.9' '10.1' '12.0' '13.0' '7.9' '9.3' '15.0' '10.0' '8.6'
 '13.6' '10.2' '10.5' '6.6' '11.0' '7.5' '15.6' '15.2' '4.8' '9.1' '8.1'
 '11.9' '13.5' '8.3' '7.1' '16.1' '10.4' '9.2' '6.2' '13.9' '14.1' '6.0'
 '11.8' '11.7' '11.4' '14.0' '8.2' '13.2' '6.1' '8.0' '12.3' '8.4' '14.3'
 '9.0' '8.7' '10.6' '13.1' '12' '10.7' '5.5' '5.8' '6.8' '8.8' '8.5'
 '13.8' '11.5' '7.3' '13.7' '12.8' '13.4' '6.3' '3.1' '17.0' '15.9' '14.5'
 '15.5' '16.2' '14.4' '14.2' '16.3' '14.8' '16.5' '15.7' '13.3' '14.6'
 '16.4' '16.9' '16.0' '14.7' '16.6' '14.9' '16.7' '16.8' '15.8' '15.1'
 '17.1' '17.2' '15.3' '17.3' '17.4' '17.7' '17.8' '17.5' '15' '13' '17.6']
['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' '?' '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '\t?' '52' '14' '22' '18' '42' '17' '46' '23'
 '19' '25' '41' '26' '15' '21' '43' '20' '\t43' '47' '9' '49' '50' '53'
 '51' '54']
['7800' '6000' '7500' '6700' '7300' '?' '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '\t6200' '7100' '11800' '9400' '5500' '5800'
 '13200' '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800'
 '6500' '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300'
 '12400' '\t8400' '10500' '4200' '4700' '10900' '8100' '9500' '2200'
 '12800' '11200' '19100' '\t?' '12300' '16700' '2600' '26400' '8800'
 '7400' '4900' '8000' '12000' '15700' '4100' '5700' '11500' '5400' '10800'
 '9900' '5200' '5900' '9300' '9700' '5100' '6600']
['5.2' '?' '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '\t?' '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9'
 '6.5']
['yes' 'no' '?']
['yes' 'no' ' yes' '\tno' '\tyes' '?']
['no' 'yes' '\tno' '?']
['good' 'poor' '?']
['no' 'yes' '?']
['no' 'yes' '?']
['ckd' 'ckd\t' 'notckd']

Despite the fact that a question mark ? means a missing value as indicated by the dataset description, the values in dataset contain '\t' from time to time. My guess is that when people type in the data, some tend to type an extra tab which caused this problem. My following process will assume that '\t' doesn't mean anything and need to be removed from the data.

In [62]:
def remove_tab(element):
    if '\t' in element:
        return element.replace('\t','')
    else:
        return element

In [63]:
df = df.applymap(remove_tab)

In [64]:
# now check it again
for col in header:
    print(df[col].unique())

['48' '7' '62' '51' '60' '68' '24' '52' '53' '50' '63' '40' '47' '61' '21'
 '42' '75' '69' '?' '73' '70' '65' '76' '72' '82' '46' '45' '35' '54' '11'
 '59' '67' '15' '55' '44' '26' '64' '56' '5' '74' '38' '58' '71' '34' '17'
 '12' '43' '41' '57' '8' '39' '66' '81' '14' '27' '83' '30' '4' '3' '6'
 '32' '80' '49' '90' '78' '19' '2' '33' '36' '37' '23' '25' '20' '29' '28'
 '22' '79']
['80' '50' '70' '90' '?' '100' '60' '110' '140' '180' '120']
['1.020' '1.010' '1.005' '1.015' '?' '1.025']
['1' '4' '2' '3' '0' '?' '5']
['0' '3' '4' '1' '?' '2' '5']
['?' 'normal' 'abnormal']
['normal' 'abnormal' '?']
['notpresent' 'present' '?']
['notpresent' 'present' '?']
['121' '?' '423' '117' '106' '74' '100' '410' '138' '70' '490' '380' '208'
 '98' '157' '76' '99' '114' '263' '173' '95' '108' '156' '264' '123' '93'
 '107' '159' '140' '171' '270' '92' '137' '204' '79' '207' '124' '144'
 '91' '162' '246' '253' '141' '182' '86' '150' '146' '425' '112' '250'
 '360' '163' '129' '133' '102' '158' '165' '132' '104' '127' '415' '169'
 '251' '109' '280' '210' '219' '295' '94' '172' '101' '298' '153' '88'
 '226' '143' '115' '89' '297' '233' '294' '323' '125' '90' '308' '118'
 '224' '128' '122' '214' '213' '268' '256' '84' '105' '288' '139' '78'
 '273' '242' '424' '303' '148' '160' '192' '307' '220' '447' '309' '22'
 '111' '261' '215' '234' '131' '352' '80' '239' '110' '130' '184' '252'
 '113' '230' '341' '255' '103' '238' '248' '120' '241' '269' '201' '203'
 '463' '176' '82' '119' '97' '96' '81' '116' '134' '85' '83' '87' '75']
['36' '18' '53' '56' '26' '25' '54' '31' '60' '107' '55' '72' '86' '90'
 '162' '46' '87' '27' '148' '180' '163' '?' '50' '75' '45' '28' '155' '33'
 '39' '153' '29' '65' '103' '70' '80' '20' '202' '77' '89' '24' '17' '32'
 '114' '66' '38' '164' '142' '96' '391' '15' '111' '73' '19' '92' '35'
 '16' '139' '48' '85' '98' '186' '37' '47' '52' '82' '51' '106' '22' '217'
 '88' '118' '50.1' '71' '34' '40' '21' '219' '30' '125' '166' '49' '208'
 '176' '68' '145' '165' '322' '23' '235' '132' '76' '42' '44' '41' '113'
 '1.5' '146' '58' '133' '137' '67' '115' '223' '98.6' '158' '94' '74'
 '150' '61' '57' '95' '191' '93' '241' '64' '79' '215' '309' '10']
['1.2' '0.8' '1.8' '3.8' '1.4' '1.1' '24.0' '1.9' '7.2' '4.0' '2.7' '2.1'
 '4.6' '4.1' '9.6' '2.2' '5.2' '1.3' '1.6' '3.9' '76' '7.7' '?' '2.4'
 '7.3' '1.5' '2.5' '2.0' '3.4' '0.7' '1.0' '10.8' '6.3' '5.9' '0.9' '3.0'
 '3.25' '9.7' '6.4' '3.2' '32.0' '0.6' '6.1' '3.3' '6.7' '8.5' '2.8' '15'
 '2.9' '1.7' '3.6' '5.6' '6.5' '4.4' '10.2' '11.5' '0.5' '12.2' '5.3'
 '9.2' '13.8' '16.9' '6.0' '7.1' '18.0' '2.3' '13.0' '48.1' '14.2' '16.4'
 '2' '2.6' '7.5' '4.3' '18.1' '11.8' '9.3' '6.8' '13.5' '12.8' '11.9'
 '12.0' '13.4' '15.2' '13.3' '1' '0.4']
['?' '111' '142' '104' '114' '131' '138' '135' '130' '141' '139' '4.5'
 '136' '129' '140' '132' '133' '134' '125' '163' '137' '128' '143' '127'
 '146' '126' '122' '147' '124' '115' '145' '113' '120' '150' '144']
['?' '2.5' '3.2' '4.0' '3.7' '4.2' '5.8' '3.4' '6.4' '4.9' '4.1' '4.3'
 '5.2' '3.8' '4.6' '3.9' '4.7' '5.9' '4.8' '4.4' '6.6' '39.0' '5.5' '5.0'
 '3.5' '3.6' '7.6' '2.9' '4.5' '5.7' '5.4' '5.3' '47' '6.3' '5.1' '5.6'
 '4' '3.0' '2.8' '2.7' '6.5' '3.3' '5']
['15.4' '11.3' '9.6' '11.2' '11.6' '12.2' '12.4' '10.8' '9.5' '9.4' '9.7'
 '9.8' '5.6' '7.6' '12.6' '12.1' '12.7' '10.3' '7.7' '10.9' '?' '11.1'
 '9.9' '12.5' '12.9' '10.1' '12.0' '13.0' '7.9' '9.3' '15.0' '10.0' '8.6'
 '13.6' '10.2' '10.5' '6.6' '11.0' '7.5' '15.6' '15.2' '4.8' '9.1' '8.1'
 '11.9' '13.5' '8.3' '7.1' '16.1' '10.4' '9.2' '6.2' '13.9' '14.1' '6.0'
 '11.8' '11.7' '11.4' '14.0' '8.2' '13.2' '6.1' '8.0' '12.3' '8.4' '14.3'
 '9.0' '8.7' '10.6' '13.1' '12' '10.7' '5.5' '5.8' '6.8' '8.8' '8.5'
 '13.8' '11.5' '7.3' '13.7' '12.8' '13.4' '6.3' '3.1' '17.0' '15.9' '14.5'
 '15.5' '16.2' '14.4' '14.2' '16.3' '14.8' '16.5' '15.7' '13.3' '14.6'
 '16.4' '16.9' '16.0' '14.7' '16.6' '14.9' '16.7' '16.8' '15.8' '15.1'
 '17.1' '17.2' '15.3' '17.3' '17.4' '17.7' '17.8' '17.5' '15' '13' '17.6']
['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' '?' '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '52' '14' '22' '18' '42' '17' '46' '23' '19'
 '25' '41' '26' '15' '21' '43' '20' '47' '9' '49' '50' '53' '51' '54']
['7800' '6000' '7500' '6700' '7300' '?' '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '7100' '11800' '9400' '5500' '5800' '13200'
 '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800' '6500'
 '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300' '12400'
 '10500' '4200' '4700' '10900' '8100' '9500' '2200' '12800' '11200'
 '19100' '12300' '16700' '2600' '26400' '8800' '7400' '4900' '8000'
 '12000' '15700' '4100' '5700' '11500' '5400' '10800' '9900' '5200' '5900'
 '9300' '9700' '5100' '6600']
['5.2' '?' '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9' '6.5']
['yes' 'no' '?']
['yes' 'no' ' yes' '?']
['no' 'yes' '?']
['good' 'poor' '?']
['no' 'yes' '?']
['no' 'yes' '?']
['ckd' 'notckd']

In [65]:
df.dm.unique() # this ' yes' needs to be changed into 'yes'

array(['yes', 'no', ' yes', '?'], dtype=object)

In [66]:
def remove_space(element):
    if ' ' in element:
        return element.replace(' ', '')
    else:
        return element

In [67]:
df = df.applymap(remove_space)

In [68]:
df = df.replace('?', np.nan)

In [69]:
# now check it again
for col in header:
    print(df[col].unique())

['48' '7' '62' '51' '60' '68' '24' '52' '53' '50' '63' '40' '47' '61' '21'
 '42' '75' '69' nan '73' '70' '65' '76' '72' '82' '46' '45' '35' '54' '11'
 '59' '67' '15' '55' '44' '26' '64' '56' '5' '74' '38' '58' '71' '34' '17'
 '12' '43' '41' '57' '8' '39' '66' '81' '14' '27' '83' '30' '4' '3' '6'
 '32' '80' '49' '90' '78' '19' '2' '33' '36' '37' '23' '25' '20' '29' '28'
 '22' '79']
['80' '50' '70' '90' nan '100' '60' '110' '140' '180' '120']
['1.020' '1.010' '1.005' '1.015' nan '1.025']
['1' '4' '2' '3' '0' nan '5']
['0' '3' '4' '1' nan '2' '5']
[nan 'normal' 'abnormal']
['normal' 'abnormal' nan]
['notpresent' 'present' nan]
['notpresent' 'present' nan]
['121' nan '423' '117' '106' '74' '100' '410' '138' '70' '490' '380' '208'
 '98' '157' '76' '99' '114' '263' '173' '95' '108' '156' '264' '123' '93'
 '107' '159' '140' '171' '270' '92' '137' '204' '79' '207' '124' '144'
 '91' '162' '246' '253' '141' '182' '86' '150' '146' '425' '112' '250'
 '360' '163' '129' '133' '102' '158' '165' '132' '104' '127' '415' '169'
 '251' '109' '280' '210' '219' '295' '94' '172' '101' '298' '153' '88'
 '226' '143' '115' '89' '297' '233' '294' '323' '125' '90' '308' '118'
 '224' '128' '122' '214' '213' '268' '256' '84' '105' '288' '139' '78'
 '273' '242' '424' '303' '148' '160' '192' '307' '220' '447' '309' '22'
 '111' '261' '215' '234' '131' '352' '80' '239' '110' '130' '184' '252'
 '113' '230' '341' '255' '103' '238' '248' '120' '241' '269' '201' '203'
 '463' '176' '82' '119' '97' '96' '81' '116' '134' '85' '83' '87' '75']
['36' '18' '53' '56' '26' '25' '54' '31' '60' '107' '55' '72' '86' '90'
 '162' '46' '87' '27' '148' '180' '163' nan '50' '75' '45' '28' '155' '33'
 '39' '153' '29' '65' '103' '70' '80' '20' '202' '77' '89' '24' '17' '32'
 '114' '66' '38' '164' '142' '96' '391' '15' '111' '73' '19' '92' '35'
 '16' '139' '48' '85' '98' '186' '37' '47' '52' '82' '51' '106' '22' '217'
 '88' '118' '50.1' '71' '34' '40' '21' '219' '30' '125' '166' '49' '208'
 '176' '68' '145' '165' '322' '23' '235' '132' '76' '42' '44' '41' '113'
 '1.5' '146' '58' '133' '137' '67' '115' '223' '98.6' '158' '94' '74'
 '150' '61' '57' '95' '191' '93' '241' '64' '79' '215' '309' '10']
['1.2' '0.8' '1.8' '3.8' '1.4' '1.1' '24.0' '1.9' '7.2' '4.0' '2.7' '2.1'
 '4.6' '4.1' '9.6' '2.2' '5.2' '1.3' '1.6' '3.9' '76' '7.7' nan '2.4'
 '7.3' '1.5' '2.5' '2.0' '3.4' '0.7' '1.0' '10.8' '6.3' '5.9' '0.9' '3.0'
 '3.25' '9.7' '6.4' '3.2' '32.0' '0.6' '6.1' '3.3' '6.7' '8.5' '2.8' '15'
 '2.9' '1.7' '3.6' '5.6' '6.5' '4.4' '10.2' '11.5' '0.5' '12.2' '5.3'
 '9.2' '13.8' '16.9' '6.0' '7.1' '18.0' '2.3' '13.0' '48.1' '14.2' '16.4'
 '2' '2.6' '7.5' '4.3' '18.1' '11.8' '9.3' '6.8' '13.5' '12.8' '11.9'
 '12.0' '13.4' '15.2' '13.3' '1' '0.4']
[nan '111' '142' '104' '114' '131' '138' '135' '130' '141' '139' '4.5'
 '136' '129' '140' '132' '133' '134' '125' '163' '137' '128' '143' '127'
 '146' '126' '122' '147' '124' '115' '145' '113' '120' '150' '144']
[nan '2.5' '3.2' '4.0' '3.7' '4.2' '5.8' '3.4' '6.4' '4.9' '4.1' '4.3'
 '5.2' '3.8' '4.6' '3.9' '4.7' '5.9' '4.8' '4.4' '6.6' '39.0' '5.5' '5.0'
 '3.5' '3.6' '7.6' '2.9' '4.5' '5.7' '5.4' '5.3' '47' '6.3' '5.1' '5.6'
 '4' '3.0' '2.8' '2.7' '6.5' '3.3' '5']
['15.4' '11.3' '9.6' '11.2' '11.6' '12.2' '12.4' '10.8' '9.5' '9.4' '9.7'
 '9.8' '5.6' '7.6' '12.6' '12.1' '12.7' '10.3' '7.7' '10.9' nan '11.1'
 '9.9' '12.5' '12.9' '10.1' '12.0' '13.0' '7.9' '9.3' '15.0' '10.0' '8.6'
 '13.6' '10.2' '10.5' '6.6' '11.0' '7.5' '15.6' '15.2' '4.8' '9.1' '8.1'
 '11.9' '13.5' '8.3' '7.1' '16.1' '10.4' '9.2' '6.2' '13.9' '14.1' '6.0'
 '11.8' '11.7' '11.4' '14.0' '8.2' '13.2' '6.1' '8.0' '12.3' '8.4' '14.3'
 '9.0' '8.7' '10.6' '13.1' '12' '10.7' '5.5' '5.8' '6.8' '8.8' '8.5'
 '13.8' '11.5' '7.3' '13.7' '12.8' '13.4' '6.3' '3.1' '17.0' '15.9' '14.5'
 '15.5' '16.2' '14.4' '14.2' '16.3' '14.8' '16.5' '15.7' '13.3' '14.6'
 '16.4' '16.9' '16.0' '14.7' '16.6' '14.9' '16.7' '16.8' '15.8' '15.1'
 '17.1' '17.2' '15.3' '17.3' '17.4' '17.7' '17.8' '17.5' '15' '13' '17.6']
['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' nan '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '52' '14' '22' '18' '42' '17' '46' '23' '19'
 '25' '41' '26' '15' '21' '43' '20' '47' '9' '49' '50' '53' '51' '54']
['7800' '6000' '7500' '6700' '7300' nan '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '7100' '11800' '9400' '5500' '5800' '13200'
 '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800' '6500'
 '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300' '12400'
 '10500' '4200' '4700' '10900' '8100' '9500' '2200' '12800' '11200'
 '19100' '12300' '16700' '2600' '26400' '8800' '7400' '4900' '8000'
 '12000' '15700' '4100' '5700' '11500' '5400' '10800' '9900' '5200' '5900'
 '9300' '9700' '5100' '6600']
['5.2' nan '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9' '6.5']
['yes' 'no' nan]
['yes' 'no' nan]
['no' 'yes' nan]
['good' 'poor' nan]
['no' 'yes' nan]
['no' 'yes' nan]
['ckd' 'notckd']

In [70]:
numerical_cols = ['age', 'bp', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc']

In [71]:
df[numerical_cols] = df[numerical_cols].astype('float64')

In [72]:
categorical_cols = ['sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'class']
df[categorical_cols] = df[categorical_cols].astype('category')

In [76]:
df.to_csv('./Data/chronic_kidney_disease_cleaned.csv')